# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
**/node_modules/

# testing
/coverage

# production
/build
/dist
client/dist/

# env files
.env
.env.*
**/.env
**/.env.*

# Local uploaded media
server/public/uploads/*
!server/public/uploads/.gitkeep

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
